/* Nesting */


/* SCSS */

nav {
    font: {
      size: 1em;
      font-weight: bold;
    }
    
  
    ul {
      list-style-type: none;
  
      li {
        float: left;
        margin: 0 5px 0 0;
        color: $color4;
  
        a {
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
  
          color: $color4;
        }
      }
  
      /* Register */
      li.nav-register {
        float: right;
        margin-right: 0;
      }
    }
  }