extends layout

block content
  body(class="listing-page")
    h1 Lab Assignment

    .table-container
      table.listing-table
        thead
          tr
            th Name
            th Email
        tbody
          if registrations.length
            each r in registrations
              tr
                td= r.name
                td= r.email
          else
            tr
              td(colspan="2") No registrations yet :(